.social-media-icon {
    padding: 5px;
    background: #222;
    color: #fff;
    border-radius: 4px;
}

a.social-media-icon:hover{
    background: #fff!important;
    color: #222!important;
}
.instagram{
	background: #262626!important;;
}
.github{
	background: #262626!important;;
}
.whatsapp{
	background: #262626!important;;
}